body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 24px;
}

.bo-content-bar{
    border: 0;
    border-radius: 0;
}

#bo-content{  
    margin-left: 240px;
    padding-top: 4px;
}

#bo-content-body{
    margin: auto;
    width: 94%;
}

#bo-alert{
	margin-bottom: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
}

th.th-colspan{
    text-align: center;
}
.bo-table th{
    background-color: #f8f8f8;
}