body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 24px;
}

#bo-content{  
    margin-left: 250px;
    padding-top: 10px;
}

#bo-alert{
	margin-bottom: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
}

/* TABLES */
.table-nago th{
    text-align: center;
    background-color: #FCF9F9;
    vertical-align: middle !important;
}