<div id="bo-Menu">
  <div id="bo-user">
    <span>{{ user.get_full_name }}</span>
    {% if user.profile.image %}
    <img src="{{user.profile.image.url}}">  
    {% else %}
    <div class="no-image"></div>
    {% endif %}
  </div>

  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <i class="fa fa-users" aria-hidden="true"></i>Usuarios
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          {% if user.is_superuser %}
          <a href="{% url 'UserCreate' %}" class="list-group-item">Crear nuevo</a>
          {% endif %}
          <a href="{% url 'UserList' %}" class="list-group-item">Listar</a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <i class="fa fa-tasks" aria-hidden="true"></i>Transacciones
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <a href="{% url 'LoansList' %}" class="list-group-item">Prestamos</a>
          <a href="{% url 'LoansRequestList' %}" class="list-group-item">Solicitudes</a>
          <a href="{% url 'NotificationList' %}" class="list-group-item">Notificaciones</a>
        </div>
      </div>
    </div>

  </div>
</div>
