{% extends "backoffice/base.html" %}
{% load static %}

{% block content-bar-list %} 
  <li><a href="{% url 'LoansList' %}">Prestamos</a></li>
  <li><a href="{% url 'LoansRequestList' %}">Solicitudes</a></li>
  <li><a href="{% url 'NotificationList' %}">Notificaciones</a></li>
  <li><a href="{{request.META.HTTP_REFERER}}">Volver</a></li>
{% endblock %}

{% block content %}

<h3>Visualizar {{Title}}</h3>

<table class="table-condensed bo-table">
  {% for field, val in obj %}
    <tr>
      <td><b>{{ field }}:</b></td><td>{{ val }}</td>
    </tr>
  {% endfor %}

  {% if notification %}
    <tr>
      <td><b>Tipo:</b></td><td>{{obj.request_type}}</td>
    </tr>
  {% endif %}

  {% if obj.user %}
  <tr>
    <td><b>Nombre de usuario:</b> </td>
    <td>{{obj.user.get_full_name}}</td>
  </tr>
  {% endif %}

  {% if obj.friendship %}
  <tr>
    <td><b>Amistad:</b> </td>
    <td>{{obj.friendship}}</td>
  </tr>
  {% endif %}

  {% if obj.loan_request %}
  <tr>
    <td><b>Usuario que solicita:</b> </td>
    <td>{{obj.loan_request.user.get_full_name}}</td>
  </tr>
  <tr>
    <td colspan="2">
        <a href="{% url 'LoansRequestShow' obj.loan_request.id %}">
          Ver solicitud <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
    </td>
  </tr>
  {% endif %}

  {% if lenders %}
    {% for l in lenders %}
    <tr>
      <td colspan="2" class="td-colspan"><b>Prestamistas</b></td>
    </tr>
    <tr>
      <td>{{l.get_lender.get_full_name}}</td>
      <td><a href="{% url 'LoansShow' l.id %}">Ver prestamo <i class="fa fa-eye" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}
  {% endif %}

</table>

{% endblock %}