{% extends "backoffice/base.html" %}
{% load static %}

{% block custom_css %}
<link href="{% static 'bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'bower_components/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content-bar-list %}
  <li><a href="{% url 'LoansList' %}">Prestamos</a></li>
  <li class="active"><a href="{% url 'LoansRequestList' %}">Solicitudes</a></li>
  <li><a href="{% url 'NotificationList' %}">Notificaciones</a></li>
{% endblock %}

{% block content-bar-list-right %} 

<!--FILRO POR FECHAS-->
<form method="post" accept-charset="utf-8" class="form-inline form-filter" role="form" id="form-search">
  {% csrf_token %}
  
  {% for field in dateTypeForm %}
    <div class="form-group">{{field.label}} {{ field }} {{ field.errors }}</div>
  {% endfor %}
  {% for field in dateRangeForm %}
    <div class="form-group">{{field.label}} {{ field }} {{ field.errors }}</div>
  {% endfor %}

  <button type="submit" class="btn" >Buscar</button>
</form>
<!--/FILRO POR FECHAS-->  
{% endblock %}

{% block content %}

<h3>{{Title}}</h3>
<div class="bo-dt-content form-inline">
  <table class="bo-datatable dt-responsive nowrap table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Deudor</th>
        <th>Solicitado</th>
        <th>Disponible</th>
        <th>Interes</th>
        <th>F. Creación</th>
        <th>F. Expiración</th>
        <th>F. Limite</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for t in objects %}
      <tr class='clickable-row activar-cursor' data-href="{% url 'LoansRequestShow' t.id %}">
        <td>{{t.id}}</td>
        <td>{{t.user.get_full_name}}</td>
        <td>{{t.amount_request}}</td>
        <td>{{t.amount_available}}</td>
        <td>{{t.interest}}</td>
        <td>{{t.date_create|date:"d/m/Y"}}</td>
        <td>{{t.date_expiration|date:"d/m/Y"}}</td>
        <td>{{t.deadline|date:"d/m/Y"}}</td>
        <td>{{t.state}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}


{% block custom_script %}
<script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backoffice/js/datatable.js' %}"></script>


<script>
  $(document).ready(function() {
    //Datepicker
    $('.datepicker').datepicker({
      //format: 'mm-dd-yyyy',
      endDate: '+0d',
      autoclose: true
    }).on('changeDate', function(e){
        $(this).datepicker('hide');
    });
  });
</script>

{% endblock %} 