{% extends "backoffice/base.html" %}
{% load static %}

{% block custom_css %}
<link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content-bar-list %} 
  {% if pk %} 
      <li class="active"><a href="#">Modificar</a></li>
      <li><a href="{% url 'UserFriendsList' pk %}">Listar amigos</a></li>
  {% else %} 
      <li class="active"><a href="#">Crear</a></li>
      <li><a href="{% url 'UserList' %}">Listar</a></li>
  {% endif%}  
{% endblock %}

{% block content %}

<h3>{{Title}}</h3>

<form method="post" accept-charset="utf-8" class="form-group" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  <table >
    {{ UserForm.as_table }}
    {{ UserTypeForm.as_table }}
    {{ ProfileForm.as_table }}
    <tr>
  </table>
  <button type="submit" class="btn">Guardar</button>
  {% if pk %}
    <button type="button" id="btn-delete" class="btn" >Eliminar</button>
  {% endif%}
</form>

{% endblock %}

{% block custom_script %}

<script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

<script>
  $(document).ready(function() {
    //Datepicker
    $('.datepicker').datepicker({
      endDate: '+0d',
      autoclose: true,
      dateFormat: 'dd/mm/yyyy' 
    }).on('changeDate', function(e){
        $(this).datepicker('hide');
    });
  });
</script>

{% if pk %}
<script>
  $(document).ready(function() {
    $("#btn-delete").click(function(){
      $.ajax({
        data : {'pk': {{pk}}, csrfmiddlewaretoken: '{{ csrf_token }}'},
        url : '/userdeleteajax/',
        type : 'POST',     
        success : function(data){
          console.log(data);
          if(data.deleted == 1){
            window.location.href = "{% url 'UserList' %}";
          }else{
            location.reload();
          }
        },
        error : function(data){
          console.log("ERROR: User delete ajax ");
        }
      });
    });
  });
</script>
{% endif%}

{% endblock %} 